<template>
  <div>
    <v-container>
      <v-row class="mt-5">
        <v-col>
          <v-data-table
            :headers="headers"
            :items="results"
            @click:row="handleClick"
          >
            <template v-slot:item.status="{ item }">
              <div v-if="item.staff_approve != null">อนุมัติเรียบร้อย</div>
              <div v-else-if="item.staff != null">รออนุมัติ</div>
              <div v-else-if="item.people != null">รอตรวจสอบ</div>
              <div v-else-if="item.police != null">รอผู้ใช้กรอกข้อมูล</div>
            </template>

            <template v-slot:item.case_name="{ item }">
              {{ item.police.cane_name || "ไม่ระบุ" }}
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: [],
      headers: [
        { text: "สถานะ", value: "status" },
        { text: "หมายเลขบัตรประชาชน", value: "id_card" },
        { text: "เบอร์โทรศัพท์", value: "tel" },
        { text: "เหตุการณ์", value: "case_name" },
        { text: "วันที่สร้าง", value: "date_create" },
      ],
    };
  },
  methods: {
    fetch() {
      this.$axios
        .get(`/caseUser`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    handleClick(value) {
      this.$router.push(`/people/detail?id=${value.id}`);
    },
  },
  beforeMount() {
    this.fetch();
  },
};
</script>