<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <h2>ส่วนที่ 3 สำหรับเจ้าหน้าที่</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-row>
            <v-col cols="12" lg="3">
              <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
                <div class="my-auto">เลขที่รับ</div>
                <div>
                  <v-text-field
                    dense
                    v-model="form.staff.number"
                  ></v-text-field>
                </div>
              </div>
            </v-col>
            <v-col cols="12" lg="3">
              <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
                <div class="my-auto">วันที่รับคำขอ</div>
                <div>
                  <v-text-field dense v-model="form.staff.date"></v-text-field>
                </div>
              </div>
            </v-col>
            <v-col cols="12" lg="3">
              <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
                <div class="my-auto">สถานที่</div>
                <div>
                  <v-text-field dense v-model="form.staff.place"></v-text-field>
                </div>
              </div>
            </v-col>
            <v-col cols="12" lg="3">
              <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
                <div class="my-auto">ผู้รับ</div>
                <div>
                  <v-text-field
                    dense
                    v-model="form.staff.receiver"
                  ></v-text-field>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div>ข้อมูลการอนุมัติ</div>
          <div>
            <v-textarea
              outlined
              placeholder="ใส่ข้อมูลการอนุมัติ"
              v-model="form.staff_approve"
            >
            </v-textarea>
          </div>
        </v-col>
      </v-row>

      <v-row class="mt-5" justify="center">
        <v-col cols="3">
          <v-btn color="blue" dark block @click="submit()">บันทึก</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ["form"],
  data() {
    return {};
  },
  methods: {
    submit() {
      this.$axios
        .post(`/case`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("บันทึกข้อมูลเสร็จเรียบร้อย");
            this.$router.go(-1);
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
};
</script>