<template>
  <div>
    <v-container>
      <v-row>
        <v-col> <h2>ส่วนที่ 2 การรับคำขอ</h2> </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">1. ผู้บาดเจ็บ/เสียชีวิต ชื่อ-สกุล</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                style="width: 400px"
                v-model="form.people.sufferer_name"
              ></v-text-field>
            </div>
            <div class="my-auto">อายุ</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.sufferer_age"
              ></v-text-field>
            </div>
            <div class="my-auto">สถานภาพ</div>
            <div class="ml-3">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.sufferer_type"
              >
                <v-radio label="โสด" value="โสด"></v-radio>
                <v-radio label="สมรส" value="สมรส"></v-radio>
                <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
              </v-radio-group>
            </div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.sufferer_other"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">อาชีพ</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.sufferer_occupation"
              ></v-text-field>
            </div>
            <div class="my-auto">รายได้</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.sufferer_salary"
              ></v-text-field>
            </div>
            <div class="my-auto">บาทต่อวัน/เดือน/ปี</div>
            <div class="my-auto ml-5">จังหวัดที่ทำงาน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.sufferer_province"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-divider class="my-5"></v-divider>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ชื่อคู่สมรส</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.spouse_name"
              ></v-text-field>
            </div>
            <div class="my-auto ml-5">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.spouse_type"
              >
                <v-radio label="มีชีวิต" value="มีชีวิต">
                  <template v-slot:label>
                    <div class="my-auto ml-5">อายุ</div>
                    <div>
                      <v-text-field
                        :disabled="!edit"
                        dense
                        v-model="form.people.spouse_age"
                      ></v-text-field>
                    </div>
                    <div class="my-auto">ปี</div>
                  </template>
                </v-radio>
                <v-radio label="ถึงแก่กรรม" value="ถึงแก่กรรม"></v-radio>
                <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
              </v-radio-group>
            </div>

            <div class="my-auto ml-5">จำนวนบุตร</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.spouse_children"
              ></v-text-field>
            </div>
            <div class="my-auto">คน &nbsp อายุบุตร</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.spouse_children_age"
              ></v-text-field>
            </div>
            <div class="my-auto">ปี(ทุกคน)</div>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ชื่อบิดา</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.father_name"
              ></v-text-field>
            </div>
            <div class="my-auto ml-5">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.father_type"
              >
                <v-radio label="มีชีวิต" value="มีชีวิต">
                  <template v-slot:label>
                    <div class="my-auto ml-5">อายุ</div>
                    <div>
                      <v-text-field
                        :disabled="!edit"
                        dense
                        v-model="form.people.father_age"
                      ></v-text-field>
                    </div>
                    <div class="my-auto">ปี</div>
                  </template>
                </v-radio>
                <v-radio label="ถึงแก่กรรม" value="ถึงแก่กรรม"></v-radio>
                <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
              </v-radio-group>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ชื่อมารดา</div>
            <div class="my-auto">
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.mother_name"
              ></v-text-field>
            </div>
            <div class="my-auto ml-5">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.mother_type"
              >
                <v-radio label="มีชีวิต" value="มีชีวิต">
                  <template v-slot:label>
                    <div class="my-auto ml-5">อายุ</div>
                    <div>
                      <v-text-field
                        :disabled="!edit"
                        dense
                        v-model="form.people.mother_age"
                      ></v-text-field>
                    </div>
                    <div class="my-auto">ปี</div>
                  </template>
                </v-radio>
                <v-radio label="ถึงแก่กรรม" value="ถึงแก่กรรม"></v-radio>
                <v-radio label="อื่นๆ" value="อื่นๆ"></v-radio>
              </v-radio-group>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-divider class="my-5"></v-divider>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ที่อยู่ที่ติดต่อได้ เลขที่</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.address"
              ></v-text-field>
            </div>
            <div class="my-auto">หมู่ที่</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.moo"
              ></v-text-field>
            </div>
            <div class="my-auto">ซอย/ถนน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.soi"
              ></v-text-field>
            </div>
            <div class="my-auto">แขวง/ตำบล</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.subdistrict"
              ></v-text-field>
            </div>
            <div class="my-auto">เขต/อำเภอ</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.district"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">จังหวัด</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.province"
              ></v-text-field>
            </div>
            <div class="my-auto">รหัสไปรษณีย์</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.postcode"
              ></v-text-field>
            </div>
            <div class="my-auto">โทรศัพท์</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.tel"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-divider class="my-5"></v-divider>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ผู้ชื่นคำขอแทน ชื่อ-สกุล</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                style="width: 400px"
                v-model="form.people.representative_name"
              ></v-text-field>
            </div>
            <div class="my-auto">อายุ</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.representative_age"
              ></v-text-field>
            </div>
            <div class="my-auto">ปี</div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ในฐานะ</div>
            <div class="ml-3">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.representative_type"
              >
                <v-radio label="ทายาท" value="ทายาท"></v-radio>
                <v-radio
                  label="ผู้รับมอบอำนาจ"
                  value="ผู้รับมอบอำนาจ"
                ></v-radio>
                <v-radio
                  label="ผู้ให้อุปการะ หรือ อยู่ในอุปการะ"
                  value="ผู้ให้อุปการะ หรือ อยู่ในอุปการะ"
                ></v-radio>
              </v-radio-group>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ที่อยู่ที่ติดต่อได้ เลขที่</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.contact_address"
              ></v-text-field>
            </div>
            <div class="my-auto">หมู่ที่</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.contact_moo"
              ></v-text-field>
            </div>
            <div class="my-auto">ซอย/ถนน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.contact_soi"
              ></v-text-field>
            </div>
            <div class="my-auto">แขวง/ตำบล</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.contact_subdistrict"
              ></v-text-field>
            </div>
            <div class="my-auto">เขต/อำเภอ</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.people.contact_district"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">จังหวัด</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.contact_province"
              ></v-text-field>
            </div>
            <div class="my-auto">รหัสไปรษณีย์</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.contact_post"
              ></v-text-field>
            </div>
            <div class="my-auto">โทรศัพท์</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.contact_tel"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-divider class="my-5"></v-divider>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ความเสียหายที่ได้รับ</div>
            <div class="ml-3">
              <v-radio-group
                row
                :disabled="!edit"
                v-model="form.people.damage_type"
              >
                <v-radio label="บาดเจ็บ" value="บาดเจ็บ"></v-radio>
                <v-radio label="เสียชีวิต" value="เสียชีวิต"></v-radio>
                <v-radio
                  label="บาดเจ็บและเสียชีวิตในเวลาต่อมา"
                  value="บาดเจ็บและเสียชีวิตในเวลาต่อมา"
                ></v-radio>
                <v-radio label="เกี่ยวกับเพศ" value="เกี่ยวกับเพศ"></v-radio>
              </v-radio-group>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" lg="6">
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div>มีค่ารักษาพยาบาลตามใบเสร็จฉบับจริง จำนวน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.treatment"
              ></v-text-field>
            </div>
            <div>ฉบับ</div>
          </div>
        </v-col>
        <v-col cols="12" lg="6">
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div>ใช้สิทธิอื่นโดยไม่เสียค่าใช้จ่าย (ระบุ)</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                style="width: 400px"
                v-model="form.people.treatment_other"
              ></v-text-field>
            </div>
            <div></div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" lg="6">
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div>มีค่าฟื้นฟูสมรรถภายตามใบเสร็จฉบับจริง จำนวน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                v-model="form.people.recovery"
              ></v-text-field>
            </div>
            <div>ฉบับ</div>
          </div>
        </v-col>
        <v-col cols="12" lg="6">
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div>ใช้สิทธิอื่นโดยไม่เสียค่าใช้จ่าย (ระบุ)</div>
            <div>
              <v-text-field
                :disabled="!edit"
                hide-details
                dense
                style="width: 400px"
                v-model="form.people.recovery_other"
              ></v-text-field>
            </div>
            <div></div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">การบาดเจ็บครั้งนี้</div>
            <div class="ml-3">
              <v-radio-group row :disabled="!edit" v-model="form.people.saraly">
                <v-radio
                  label="ได้รับค่าจ้างครบถ้วน"
                  value="ได้รับค่าจ้างครบถ้วน"
                ></v-radio>
                <v-radio label="ไม่ได้รับค่าจ้าง" value="เสียชีวิต"></v-radio>
              </v-radio-group>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row class="mt-5" justify="center" v-if="edit">
        <v-col cols="3">
          <v-btn color="blue" dark block @click="submit()">บันทึก</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ["edit", "form"],
  data() {
    return {};
  },
  methods: {
    submit() {
      this.$axios
        .post(`/case`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("บันทึกข้อมูลเสร็จเรียบร้อย");
            this.$router.go(-1);
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
};
</script>

