<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <h2>ส่วนที่ 1 การแจ้งสิทธิ</h2>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div class="d-flex">
            <div class="my-auto">สถานที่บันทึก</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.place"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="d-flex">
              <div class="my-auto">วันที่</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.date"
                ></v-text-field>
              </div>
            </div>

            <div class="d-flex">
              <div class="my-auto">เดือน</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.month"
                ></v-text-field>
              </div>
            </div>

            <div class="d-flex">
              <div class="my-auto">พ.ศ.</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.year"
                ></v-text-field>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="d-flex">
              <div class="my-auto">ในคดีอาญาที่</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.case_no"
                ></v-text-field>
              </div>
            </div>
            <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
              <div class="my-auto">ข้าพเจ้า (ยศ ชื่อ - สกุล)</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.officer_name"
                ></v-text-field>
              </div>
            </div>
            <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
              <div class="my-auto">ตำแหน่ง</div>
              <div class="my-auto">
                <v-text-field
                  :disabled="!edit"
                  dense
                  v-model="form.police.officer_position"
                ></v-text-field>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">ได้แจ้งให้ (คำนำหน้า ชื่อ - สกุล)</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.name"
              ></v-text-field>
            </div>

            <div class="my-auto">
              ผู้เสียหาย/ทายาทผู้เสียหาย หมายเลขโทรศัพท์ที่ติดต่อได้
            </div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.tel"
              ></v-text-field>
            </div>

            <div class="my-auto">ซึ่งเป็นผู้เสียหายในกรณีความผิดฐาน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.cane_name"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">หมายเลขประจำตัวประชาชน</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.id_card"
              ></v-text-field>
            </div>

            <div class="my-auto">วัน/เดือน/ปี ที่เกิดเหตุ</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.case_date"
              ></v-text-field>
            </div>

            <div class="my-auto">เวลา</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.case_time"
              ></v-text-field>
            </div>

            <div class="my-auto">สถานที่</div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.case_place"
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div>โดยมีพฤติการณ์แห่งคดีโดยย่อดังนี้</div>
            <div
              :style="
                $vuetify.breakpoint.mobile ? '' : 'margin-left:20px; width: 70%'
              "
            >
              <v-textarea
                placeholder="กรอกพฤติการณ์โดยย่อ"
                outlined
                no-resize
                :disabled="!edit"
                v-model="form.police.case_detail"
              ></v-textarea>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">
              <li>ข้อสันนิษฐานเบื้องต้น/เหตุจูงใจ/สาเหตุของการกระทำความผิด</li>
            </div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.case_reason"
                :style="
                  $vuetify.breakpoint.mobile
                    ? ''
                    : 'margin-left:20px; width: 400px'
                "
              ></v-text-field>
            </div>
          </div>

          <div :class="$vuetify.breakpoint.mobile ? '' : 'd-flex'">
            <div class="my-auto">
              <li>
                ความเกี่ยวข้องของผู้ต้องหา/รู้จักกันหรือมีเหตุโกรธเคืองกันมาก่อนหรือไม่
              </li>
            </div>
            <div>
              <v-text-field
                :disabled="!edit"
                dense
                v-model="form.police.case_meet"
                :style="
                  $vuetify.breakpoint.mobile
                    ? ''
                    : 'margin-left:20px; width: 400px'
                "
              ></v-text-field>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col> จากการสอบสวนเบื้องต้น พบว่าผู้เสียหาย </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-radio-group :disabled="!edit" v-model="form.police.relevant">
            <v-radio
              label="ไม่มีส่วนเกี่ยวข้องกับการกระทำความผิด และหากปรากฎในภายหลังว่าผู้เสียหายมีส่วนเกี่ยวข้องกับการกระทำความผิด จะแจ้งให้กรมคุ้มครองสิทธิและเสรีภาพ หรือสำนักงานยุติธรรมทราบต่อไป"
              value="1"
            >
            </v-radio>
            <v-radio
              label="อาจมีส่วนเกี่ยวข้องกับการกระทำความผิด"
              value="0"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>

      <v-row class="mt-5" justify="center" v-if="edit">
        <v-col cols="3">
          <v-btn color="blue" dark block @click="submit()">บันทึก</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ["edit", "form"],
  data() {
    return {};
  },
  methods: {
    submit() {
      this.$axios
        .post(`/case`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("บันทึกข้อมูลเสร็จเรียบร้อย");
            this.$router.go(-1);
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
  watch: {},
};
</script>