<template>
  <div></div>
</template>

<script>
export default {
  data() {
    return {
      //
    };
  },
  methods: {
    //
  },
  beforeMount() {
    this.$router.push("/login");
  },
};
</script>