<template>
  <div>
    <v-container>
      <v-row justify="center">
        <v-col cols="10" lg="4">
          <div align="center">
            <v-card class="pa-10 my-10">
              <v-container>
                <v-row>
                  <v-col>
                    <h2>เข้าสู่ระบบ</h2>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    username
                    <v-text-field v-model="username" outlined dense>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    password
                    <v-text-field
                      v-model="password"
                      outlined
                      dense
                      type="password"
                      @keydown.enter="login()"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col cols="3" align="center">
                    <v-btn
                      color="green"
                      class="white--text"
                      block
                      @click="login()"
                    >
                      เข้าสู่ระบบ
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    login() {
      if (this.username == "police" && this.password == "password") {
        this.$router.push("/police");
      } else if (
        this.username == "0987654321" &&
        this.password == "1111111111111"
      ) {
        this.$router.push("/people");
      } else if (this.username == "admin@moj" && this.password == "password") {
        this.$router.push("/justice");
      } else {
        alert("username password ไม่ถูกต้อง");
      }
    },
  },
};
</script>