<template>
  <div>
    <v-container v-if="form != null">
      <v-row>
        <v-col>
          <v-card class="pa-3">
            <v-container fluid>
              <v-row>
                <v-col>
                  <police-form :form="form" :edit="true" />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: null,
    };
  },
  methods: {
    fetch() {
      this.$axios
        .get(`/case/${this.$route.query.id}`)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
  beforeMount() {
    this.fetch();
  },
};
</script>